{% layout 'custom_theme' %} <!-- Reference the custom layout, replace 'custom_theme' with your layout name. -->

<div id="404_temeplate" class="custom-class" custom-attrubute="hellow">
  <!-- Including the section defined in the JSON -->
  {% section 'example-404' %}
</div>
